<!DOCTYPE html>
{% extends "portfolio/base.html" %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

        <h2 id="about-title">A Little Bit About Me</h2>
        <div class="container"></div>

            <div class="picture-of-me">

                <img src="{% static 'portfolio/me.jpg' %}" height="500px" width="400px">

            </div>

            <p id="about-me">
                Hello, my name is Tom, software development really appeals to me because I've always enjoyed problem solving,
                I find it to be both mentally stimulating and very rewarding, this is one of the main reasons I decided to
                teach myself to code, that plus I've always enjoyed building things and improving things.
                Whe im not teaching myself to code, my passion for problem solving is reflected in my other main hobby, which is
                bouldering,  which involves figuring out how to climb rocks and walls which might at first look and feel
                impossible. <br>
                Working in the bar industry for about 7 years, mainly in a very busy bar, I got to hone my skills in a very high
                pressure customer oriented environment, having to think on my feet when things around me broke or became
                unavailable.  I also got to apply my skills in a small team of people while opening bars, turning them from a
                building site to a fully working bar, designing glassware plans and back bars, also training staff. <br>
                I decided to teach myself to code when the pandemic hit, as it seemed that the industry i was in was very shaky,
                I planned on only learning python at first, however with me wanting to do things myself, and in order to build this
                portfolio site from scratch, I learnt HTML, CSS, Django and JavaScript along the way, I'm now planning on
                learning much more.
            </p>
        </div>
{% endblock %}


</body>
</html>