<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Thomas's Portfolio{% endblock %}</title>
        <link href="{% static 'css/portfolio.css' %}" rel="stylesheet">
</head>
<body>

    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about_me' %}">AboutMe</a>
        <a href="{% url 'contact_me' %}">ContactMe</a>
        <a href="{% url 'blog:post_list' %}">Blog</a>
        <a href="{% url 'skills' %}">Skills</a>
        <a href="{% url 'projects' %}">Projects</a>

    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>


</body>
</html>
