<!DOCTYPE html>
{% extends "portfolio/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="title">
        <h1>Contact Me</h1>
    </div>
    <div class="details">
        <div class="name">
            <p>Name: Thomas Wasnidge</p>
        </div>
        <div class="email">
            <p>Email Address: thomas.wasnidge@gmail.com</p>
        </div>
        <div class="phone-number">
            <p>Phone Number: 07525644369</p>
        </div>
        <div class="linkedincontact">
            <p>Linked in:</p>
        </div>
    </div>
    <div class="contact-form">
        <p>Alternatively you can contact me directly using the contact form below.</p>
    </div>
</div>

{% endblock %}

</body>
</html>