<!DOCTYPE html>
{% extends "portfolio/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thomas Wasnidge</title>
</head>
<body>
{% block content %}

    <div class="container">
        <div class="Small_info">
            <h1>Thomas Wasnidge</h1>
            <p>A fully self taught developer, keen to both learn and help</p>
        </div>

        <div class="projects">
            <h2>Personal Projects</h2>
                <div class="container">
                    {% for project in projects %}
                        {% if forloop.first %}<div class="row">{% endif %}
                            <div class="col-lg-4">
                                <div class="project">
                                    <h3>{{project.title}}</h3>
                                    <p>{{project.description}}</p>
                                    <img src = "{{ project.image.url }}" height=200 width = 300>
                                    {% if project.url %}
                                    <br>
                                    <a href="{{project.url}}">{{project.url}}</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                        {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}




</body>
</html>





