/* Font */

@font-face {
    font-family: 'Hack-Regular';
    font-style: normal;
    src: local('Hack-regular'), url('portfolio/static/fonts/hack/Hack-Regular.ttf') format('truetype');
}

body {
    font-family: 'Hack-Regular';
    background-color: #282923 !important;
    margin:10px;
    padding:0;
}

.next-page {
    font-family: 'Hack-Regular';
    color: #6F0;

}

.current {
    font-family: 'Hack-Regular';
    color: yellow;
}
.post-title {
    font-family: 'Hack-Regular';
    color: #6F0;
}

.tag-list {
    font-family: 'Hack-Regular';
    color: yellow;
}

p {
    font-family: 'Hack-Regular';
    color: #C0C0C0;
}

a {
    font-family: 'Hack-Regular';
    color: #6F0;
}

h1 {
    font-family: 'Hack-Regular';
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    color: #BEBEBE;
    text-decoration-line: underline;
    text-decoration-style: double;
}

h2 {
    font-family: 'Hack-Regular';
    font-weight:normal;
    margin:30px 0 0;
    color: yellow;
}

h3 h4 h5 h6 {
    font-family: 'Hack-Regular';
    color: #BEBEBE;
}

.nav-item a {
    color: #6F0;
}

/* List Page*/
.list-page {
    margin: 40px;

}

/*Detail Page*/
.detail-page{
    margin: 40px;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar {
    margin-top: 30px;
    float:right;
    width:30%;
    padding:10px;
    background: #696969;
    height:100%;
}

.sidebar-links {
    font-family: 'Hack-Regular';
    color: #6F0;
}

.latest-post-link {
    font-family: 'Hack-Regular';
    color: #6F0;
}

p.date { 
    color:#ccc;
    font-family: 'Hack-Regular';
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label {
    color: #C0C0C0;
    float:left;
    clear:both;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}